# Shared database
DATABASE_URL=******localhost:5432/devops_project

# Service ports
USERS_SERVICE_PORT=5001
ORDERS_SERVICE_PORT=5002

# Cross-service URL
USERS_SERVICE_URL=http://localhost:5001

# Frontend API URLs
VITE_USERS_API_URL=http://localhost:5001
VITE_ORDERS_API_URL=http://localhost:5002
